<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meowcat.wearable.chain">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".heytap.util.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".heytap.activity.AchievementActivity"/>
        <activity android:name=".heytap.activity.AboutActivity" />
        <activity android:name=".heytap.activity.NewGameActivity" />
        <activity android:name=".heytap.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>